h1= title
div( id="wrapper")
    div( id="console")
        ul( id="convo" )
        div( id="users" )
            input( id="nick" )
            ul( id="userlist" )
        div( id="buffer" )
    div( id="codes" )
    div( id="transmission" )
div( id="countdown" )
div
    | press '.' to send transmission