!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body!= body
    script(src='/javascripts/jquery-1.5.2.js', type='application/javascript')
    script(src='/socket.io/socket.io.js', type='application/javascript')
    script(src='/javascripts/morse.js', type='application/javascript')