body {
  padding: 1em 4em;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;}

a {
  color: #00B7FF;}

#wrapper {
  clear: both;}

#convo {
  float: left;
  height: 18em;
  width: 30em;
  background-color: #DDDDDD;
  margin: 2em 2em 2em 0;
  padding: 0 ;
  border: 1px solid #CCCCCC;
  overflow-y: scroll;}
#convo .msg {
  color: #111111;
  padding: 0.25em 1em;}
#convo .msg:nth-child(odd) {
  background-color: #F6F6F6;}

#codes {
  float: left;
  background: url(/images/morsecodes.png);
  width: 300px;
  height: 300px;}

#countdown {
  clear: both;
  width: 0;
  height: 20px;
  border-left: 300px solid #999999;
  border-right: 0px   solid #CCCCCC;
  margin-bottom: 1em;}
